.city-list-item {
    display: flex;
    align-items: center;
}

.city-list-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin: 5px;
    background-color: red;
}